/* src/index.css or src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-color: #ffffff;
}

[data-theme='day'] {
  --primary-color: #ffffff;
  --secondary-color: #d3d3d3;
  --text-color: #000000;
}

[data-theme='night'] {
  --primary-color: #000000;
  --secondary-color: #2a2a2a;
  --text-color: #ffffff;
}

[data-theme='dawndusk'] {
  --primary-color: #a1a1a1;
  --secondary-color: #909090; 
  --text-color: #000000;
}
